body {
  font-family: var(--vscode-editor-font-family, monospace);
  font-size: var(--vscode-editor-font-size, 14px);
  line-height: var(--vscode-editor-line-height, 1.4);
}

pre {
  font-family: var(--vscode-editor-font-family, monospace);
}

.block {
  display: block;
}

.header {
  display: block;
  font-size: 1.5em;
  font-weight: 550;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  /* Indents two extra characters on wrap */
  white-space: pre-wrap;
  text-indent: -2ch;
  padding-left: 2ch;
}

/* Indents four characters, plus two extra on wrap */
.indent {
  display: block;

  /* Indents two extra characters on wrap */
  white-space: pre-wrap;
  text-indent: -2ch;
  padding-left: 6ch;
}