body {
  font-size: 14px;
  line-height: 1.25;
}

.mono {
  font-family: monospace;
  display: block;
}

.header {
  font-family: monospace;
  display: block;
  font-size: 1.5em;
  font-weight: 550;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: pre-wrap;
  text-indent: -2ch;
  padding-left: 2ch;
}